<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>

</head>
<body>

<h1 align="center">Welcome to the Flight Simulator!</h1>

<form action="/detect" method="post" enctype="multipart/form-data" name="configurationForm" target="result">
    <table>
        <tr>
            <td>Select model to use:</td>
            <td>
                <input type="radio" id="regression" name="model_type" value="regression">
                <label for="regression">Regression Model</label><br>
                <input type="radio" id="hybrid" name="model_type" value="hybrid">
                <label for="hybrid">Hybrid Model</label><br>
            </td>

        </tr>
        <tr>
            <td>Upload file for training:</td>
            <td>
                <!--                <input type="file" name="train_file">-->
                <div class="file-upload-wrapper" data-text="Select your file!">
                    <input name="train_file" type="file" class="file-upload-field" value="">
                </div>

            </td>
        </tr>
        <tr>
            <td>Upload file for prediction:</td>
            <td><input type="file" name="predict_file"></td>
        </tr>
    </table>
    <input type="submit" value="Detect!">
</form>
<br>
<iframe name="result" width="80%" height="500"></iframe>
</body>
</html>